#splash-container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#splash-area {
  max-width: 1120px;
  width: 80%;
  padding-left: 80px;
  padding-right: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  /* grid-template-areas:
    "main main main main"
    "main main main main"
    "main main main main"; */
  column-gap: 15px;
  row-gap: 20px;
  justify-items: center;
}


.navlink-containers {
  width: 100%;
  height: 100%;
  /* padding: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allspots-navLinks {
  text-decoration: none;
  color: black;
  display: grid;
  justify-self: center;
  align-items: center;
  padding: 5px;
}

/* .allspots-images-containers {
  position: relative;
  display: flex;
  justify-content: center;
  width: 95%;
} */

.allspots-images {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.allspots-city-state-ratings {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.allspots-name {
  color: grey;
  width: 250px;
}

/* Media Queries */
@media screen and (max-width: 1220px) {
  #splash-area {
    max-width: 1760px;
    width: 80%;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /* grid-template-areas:
      "main main main main"
      "main main main main"
      "main main main main"; */
    column-gap: 15px;
    row-gap: 20px;
    justify-items: center;
  }
}

@media screen and (max-width: 920px) {
  #splash-area {
    max-width: 1760px;
    width: 80%;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    /* grid-template-areas:
      "main main main main"
      "main main main main"
      "main main main main"; */
    column-gap: 15px;
    row-gap: 20px;
    justify-items: center;
  }
}

@media screen and (max-width: 620px) {
  #splash-area {
    max-width: 1760px;
    width: 80%;
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    /* grid-template-areas:
      "main main main main"
      "main main main main"
      "main main main main"; */
    column-gap: 15px;
    row-gap: 20px;
    justify-items: center;
  }
}
