#create-spot-form-container {
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

#create-spot-form {
  width: 600px;
  height: 740px;
  padding: 20px;
  border-radius: 10px;
  border: black solid 1px;
  justify-content: center;
}

#welcome-title-create-spot {
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
}

#form-input-fields-div-create-spot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 0px; */
  /* margin: 10px; */
}

.label-input-fields-create-spot {
  width: 580px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

#create-spot-property-description-input-field {
  min-width: 80px;
  min-height: 150px;
  resize: none;
}

#create-spot-buttons-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.create-spot-submit-buttons {
  background-color: rgb(255, 56, 92);
  color: white;
  width: 380px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
