header {
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  border-bottom: solid lightgrey 1px;
  background-color: white;
}

header > nav {
  /* width: 80%px; */
  padding-left: 80px;
  padding-right: 80px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1760px;
  width: 80%;
}

#logo {
  width: 160px;
}

#main-nav-menu, #main-logged-in-menu {
  /* margin-top: 7px; */
  display: flex;
  justify-content: center;
}


#main-nav-menu > #main-nav-menu-button, #main-logged-in-menu > #main-logged-in-menu-button {
  display: flex;
  width: 77px;
  height: 42px;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  cursor: pointer;
  margin: 0;
  text-align: inherit;
  border: 1px solid lightgrey;
  border-radius: 21px;
  /* margin-top: 7px; */
}

#main-nav-menu-button:hover, #main-logged-in-menu-button:hover {
  box-shadow: 0 2px 5px rgba(33,33,33,.2);
}

#main-nav-menu-button > #three-bars, #main-logged-in-menu-button > #three-bars {
  width: 16px;
  height: 16px;
}

#login-logout-wrapper {
  /* background-color: red; */
  position: relative;
  top: 50px;
  right: 205px;
  width: 0;
  height: 0;
}

#login-wrapper, #logout-wrapper {
  width: 200px;
  height: 60px;
  display: flex;
  flex-flow: column;
  align-items: left;
  border: 1px lightgrey solid;
  border-radius: 15px;
  background-color: white;
  font-family: sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 30px;
}

#logout-wrapper {
  height: 30px
}

#signup-button {
  cursor: pointer;
  /* text-decoration: none; */
  /* color: inherit; */
  font-weight: bold;
  /* width: 200px; */
  padding-left: 10px;
}

#login-button, #logout-button {
  cursor: pointer;
  padding-left: 10px;
}

#login-button:hover, #signup-button:hover, #logout-button:hover {
  background-color: rgb(232, 232, 232);
}
