form {
  width: 400px;
  height: 340px;
  padding: 20px;
  border-radius: 10px;
  border: black solid 1px;
}

#welcome-title {
  font-weight: 600;
  font-size: 24px;
  padding-left: 10px;
}

#form-input-fields-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 0px; */
  /* margin: 10px; */
}

.label-input-fields {
  width: 380px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px
}

#login-buttons-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login-submit-buttons {
  background-color: rgb(255, 56, 92);
  color: white;
  width: 380px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
}
